@charset "utf-8";
/* CSS Document */
* {font-size:12pt}
ul,li,p,form{border:0;padding:0;margin:0;}
ul,li{list-style:none;}
a{color:blue;}
a:hover{text-decoration:underline;}
span{display:-moz-inline-box; display:inline-block;}
h1,h2,h3,h4,h5,h6{margin:0;}
img{border:0;margin:0;}
.dynamic img{max-width:500pt;max-height:400pt;}
.dynamic img{width: expression(this.width > 500 && this.width > this.height ? "120pt" : auto);
    height:expression(this.height > 400 ? "400pt" : auto);
}/* for IE6 */

body, th, td, input, textarea, select {font-size: 12pt};
--------------------------------------------------------------------------------

/* table{border-collapse:collapse;word-break:break-all;word-wrap:break-word;}*/

.alert {color: red}
.icon {vertical-align:middle;line-height:24pt;}
.link {cursor:hand;display:inline;}
.hide {display:none}
.show {display:block}
.insensitive {color:gray}
.left {float:left}
.right {float:right}
.center {text-align:center}
.middle {vertical-align:middle}
.whole_row {width:99%;margin:1pt 8pt 1pt 0pt;}
.floating_area {position:absolute;display:none;border:2pt blue solid;background-color:#eee;width:400pt;height:240pt;text-align:center}

.navigate {line-height:24pt;vertical-align:middle;background:white;border:1pt skyblue solid;}
.module_bar {background:lightblue;padding:5pt}
.module_bar .label {font-family:"黑体","宋体";font-family:"黑体","宋体";color:green;font-size:12pt;}
.module_bar .title {font-family:"黑体","宋体";font-size:12pt;}
.result_bar {line-height:24pt;height:24pt;padding:5pt}
.filter_bar {line-height:24pt;background:lightblue;padding:5pt}
.filter_bar .label {color:green;}

.page_bar {line-height:24pt;height:24pt;background:lightblue;border:1pt skyblue solid;padding:5pt}
.page_bar img {text-align:center;vertical-align:middle;display:inline;width:50pt;height:20pt;margin:0pt 3pt}
.page_bar label.holder {width:20pt;display:-moz-inline-box; display:inline-block;}
.page_bar span.highlight {color:red}

.list {}
table.list {width:100%;background:white;border:1pt skyblue solid;border-collapse:collapse}
table.list tr.header{background-color:lightblue;height:24pt;font-weight:bold}
table.list tr.even{background-color:#eee;height:24pt}
table.list tr.odd{background-color:#fff;height:24pt}
table.list td {border:1pt skyblue solid;padding:5pt}

.form_input {}
table.form_input {width:100%;background:#eee;border:1pt skyblue solid;border-collapse:collapse}
table.form_input tr{height:24pt;}
table.form_input tr td{padding:12pt;border:1pt skyblue solid;}
table.form_input tr td span{color:red}

.form_read {}
table.form_read {width:100%;background:#eee;border:1pt skyblue solid;border-collapse:collapse}
table.form_read tr{height:24pt;}
table.form_read tr td{padding:8pt;border:1pt skyblue solid;}

.auto_select {}
input.norm {width:200pt;}
input.long {width:300pt;}
input.short {width:100pt;}
input[type='text'] {width:200pt;}
input[type='password'] {width:200pt;}
input[type='file'] {width:300pt;}
input[type='submit'] {width:80pt;padding-top:2pt;}
input[type='submit'].fit {width:40pt;padding-top:2pt;}
input[type='reset'] {width:80pt;padding-top:2pt;}
input[type='button'] {width:80pt;padding-top:2pt;}

/* specified */
.module_title {color:green;font-size:12pt;}
